doctype html
html
  head
    meta(charset='utf-8')
    title 음악 저작권 거래 플랫폼
    link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
  body
    div(id='container')

      label(for='name' class='col-lg-2 control-label')
        a(href='/users') 구매자
        =" | "
        a(href='/makers') 판매자

      <img src="/images/singer.jpg" width=50% height=50%>

      h2 환급하기

      form(action='/makers/withdraw' method='post')

        label(for='name' class='col-lg-2 control-label') 판매자 계좌 패스워드
        input(type='text' name='passphase' placeholder='passphase')

        button(id='button' onClick="loader.style.display='block';submit();") 환급하기

        div(id='loader' style='display:none;')
          <img src='/images/ring-spinner.gif'>
